@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Westfield St Lukes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    80 Saint Lukes Road,<br /> St Lukes, Auckland 1025,<br /> New Zealand<br />
    <abbr title="Phone">P:</abbr>
    +64 9-978 6000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Lukes.com">Support@Lukes.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Lukes.com">Marketing@Lukes.com</a>
</address>